.button {
  color: inherit;
  display: block;
  border-radius: 20px;
  background-color: blue;
  padding: 0.6em 1.5em;
  text-decoration: inherit;
  font-weight: 600;
  max-width: fit-content;
  transition: transform 200ms ease-in-out;
  transform: scale(1);
}

.button:hover {
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.95);
}
